/* Style Definitions */
body
	{background-color:#FEF2DB;}
p
	{margin:5px 10px;
	font-family:"ＭＳ ゴシック",sans-serif;}
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:5px 10px;
	font-family:"ＭＳ ゴシック",sans-serif;}
h1
	{margin:10px 5px;
	font-size:120%;
	font-family:"ＭＳ ゴシック",sans-serif;
	font-weight:bold;}
h2
	{margin:10px 5px;
	font-size:180%;
	font-family:"ＭＳ ゴシック",sans-serif;
	font-weight:bold;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}

